.equipos{
    display: flex;
    
    
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}


.equipo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    
    
}

.equipo {
    background-color: rgb(101, 98, 104);
    border: 2px solid #555;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 1px 5px 5px #FFCC03;
  border: 5px solid rgb(0, 0, 0);
}

.equipo p {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}

.poke {
    background-color: rgb(201, 200, 200);
    width: 40%;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  
    border: 5px solid black;
  }
  
  .pokediv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movsdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
  }

  .nombre-equipo {
    width: 100%;
    text-align: center;
    color: #FFCC03;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.aviso-login {
  background: #f7f7f7;
  border-radius: 20px;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 5px 5px #FFCC03;
  color: #000000;
  padding: 16px;
  width: 40%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-large;

}