.planificador {
  margin-top: 1%;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
 
}

.team {
  background-color: rgb(101, 98, 104);
  width: 50%;
  height: 500px;
  margin-right: 0.5%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 0.5%;
  box-shadow: 1px 1px 5px 5px #FFCC03;
  border: 5px solid rgb(0, 0, 0);

}

.poke {
  background-color: rgb(201, 200, 200);
  width: 40%;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  border: 5px solid black;
}

.pokediv {
  display: flex;
  justify-content: center;
}

.movsdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pokemon {
  grid-column: 1;
  width: 90%;
  height: 15%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 8px;
}

.movs {
  grid-column: 2;
  height: 15%;
  width: 90%;
  margin-top: 5px;
  border-radius: 8px;

}

.debilidades {
  background-color: rgb(101, 98, 104);
  width: 50%;
  height: 500px;
  margin-left: 0.5%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  box-shadow: 1px 1px 5px 5px #FFCC03;
  border: 5px solid rgb(0, 0, 0);

}

.tiposimg {
  width: 120px;
  height: 55px;
  margin: auto;
  margin-top: 20px;
}

.tipos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contador {
  color: white;
  font-size: xx-large;
  margin-top: auto;
  margin-bottom: auto;
}

.contador-negativo {
  color: red;
  font-size: xx-large;
  margin-top: auto;
  margin-bottom: auto;
}

.contador-cero {
  color: white;
  font-size: xx-large;
  margin-top: auto;
  margin-bottom: auto;
}

.contador-positivo {
  color: #90ee90;
  font-size: xx-large;
  margin-top: auto;
  margin-bottom: auto;
}

.positivo { color: rgb(0, 255, 0); }
.negativo { color: red; }

.botones {
    background-color: #979797; 
    border: 3px solid #ffffff; 
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: bold;
    /*padding: 15px 30px;*/
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 1%;
    margin-left: 10%;
    height: 30px;
    width: 160px;
}

.botones:hover {
    background-color: #cacaca; 
}

.botones:active {
    background-color: #4b4b4b;
    
}