.container{
    
    margin-top: 2%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.login{
    background-color: rgb(101, 98, 104);
    height: 400px;
    width: 280px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 5px 5px #FFCC03;
    
    
}

.login ul{
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15%;
}

.login li{
    margin-top: 5%;
}

.login h1{
    margin-top: 2%;
    text-align: center;
}

form {
    width: 280px;
    margin: 0 auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10%;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #FFCC03;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #b89300;
}